<div class="top d-flex align-items-center justify-content-between" *ngIf="dataLoaded; else loadingSkeleton">
  <div class="d-flex">
    <div class="avatar">
      <img src="{{ post.user.avatar }}" alt="avatar">
    </div>
    <div class="info">
      <div class="name">{{ post.user.name }}</div>
      <div class="date">{{ post.created_at | date: 'dd/MM/yyyy' }}</div>
    </div>
  </div>

  <ion-icon name="ellipsis-vertical-outline" [matMenuTriggerFor]="menu"></ion-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <div class="d-flex align-items-center">
        <ion-icon class="remove-icon" name="trash-outline"></ion-icon>
        <span>Remove</span>
      </div>
    </button>
  </mat-menu>
</div>
<div class="middle" *ngIf="dataLoaded; else loadingImages">
  <swiper-container slides-per-view="1" loop="false" css-mode="false" pagination="true" centeredSlides="true"
    pagination-dynamic-bullets="true" class="swiper" zoom="true">
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img class="post-image" alt="Silhouette of mountains"
          src="https://plus.unsplash.com/premium_photo-1696962118708-a7da28938943?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img class="post-image" alt="Silhouette of mountains"
          src="https://images.unsplash.com/photo-1696948132802-3d61d42d516a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img class="post-image" alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </div>
    </swiper-slide>
  </swiper-container>
</div>
<div class="bottom d-flex align-items-center justify-content-start" *ngIf="dataLoaded; else loadingBottom">
  <div class="d-flex align-items-center mr-2">
    <ion-icon name="heart-outline" *ngIf="!isPostLiked" (click)="onLikePost()"></ion-icon>
    <ion-icon name="heart" *ngIf="isPostLiked" (click)="onLikePost()"></ion-icon>
    <span class="ml-1">{{post.likes.length}}</span>
  </div>
  <div class="d-flex align-items-center">
    <ion-icon id="open-comment-modal" name="chatbubble-ellipses-outline"></ion-icon>
    <span class="ml-1">3</span>
  </div>
</div>

<ng-template #loadingSkeleton>
  <div class="top">
    <div class="avatar">
      <ion-skeleton-text animated style="width: 50px; height: 50px; border-radius: 50%;"></ion-skeleton-text>
    </div>
    <div class="info">
      <ion-skeleton-text animated style="height: 16px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="height: 16px;"></ion-skeleton-text>
    </div>
  </div>
</ng-template>
<ng-template #loadingImages>
  <div class="middle">
    <div class="skeleton-image"></div>
  </div>
</ng-template>

<ng-template #loadingBottom>
  <div class="bottom d-flex align-items-center justify-content-start">
    <div class="d-flex align-items-center mr-2">
      <ion-skeleton-text animated style="width: 24px; height: 24px; border-radius: 50%;"></ion-skeleton-text>
      <ion-skeleton-text animated class="ml-1" style="width: 20px; height: 16px;"></ion-skeleton-text>
    </div>
    <div class="d-flex align-items-center">
      <ion-skeleton-text animated style="width: 24px; height: 24px;"></ion-skeleton-text>
      <ion-skeleton-text animated class="ml-1" style="width: 20px; height: 16px;"></ion-skeleton-text>
    </div>
  </div>
</ng-template>

<ion-modal *ngIf="dataLoaded" #modal trigger="open-comment-modal" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75]">
  <ng-template>
    <ion-content class="ion-padding">
      <app-comments></app-comments>
      <!------------Bottom--------------->
      <div class="bottom-comment d-flex align-items-center w-100">
        <ion-avatar class="d-flex align-items-center justify-content-center" slot="start">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div class="container-input d-flex align-items-center w-100 ml-3">
          <ion-textarea placeholder="Type something here"></ion-textarea>
          <ion-button fill="clear" slot="end">
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
