.cover {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1682685796444-acc2f5c1b7b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* The image used */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  z-index: 1;
}

ion-avatar {
  width: 80px;
  height: 80px;
  position: absolute;

  bottom: -20%;
  z-index: 22;
  left: 5%;
}

.top-user-profile {
  position: relative;
}

.user-info {
  margin-top: 4rem;

  .top {
    padding: 0 25px;
  }

  .bottom {
    padding: 0 25px;
  }

  .username {
    color: #202020;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .add-user-icon {
    margin-left: 0.5rem;
  }

  .bottom {
    .number {
      color: #434343;
      font-weight: 600;
    }

    p {
      color: #b0b0b0;
    }

    .text-align-center {
      margin-right: 3rem;
    }
  }
}


.text-align-center {
  text-align: center;
}

:host ::ng-deep .mat-tab-group .mat-tab-label {
  color: #5b7d88;
}

:host ::ng-deep .mat-tab-group .mat-ink-bar {
  background-color: #5b7d88;
}

:host ::ng-deep .mdc-tab-indicator__content {
  background-color: #5b7d88!important;
}



.images {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

  .image {
    margin: 0 10px;

    img {
      width: 150px;
      max-height: 150px;
      border-radius: 20px;
    }
  }

}

.toolbar-profile {
  background-color: #202020;
}
