<div class="profile-card">
  <div class="card-header d-flex align-items-start w-100 pt-4">
    <div class="container-back-icon">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </div>

   <div class="d-flex flex-column align-items-center justify-content-center w-100 pt-5">
    <ion-avatar class="mb-3">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    </ion-avatar>
    <ion-card-subtitle>Darlene Robertson</ion-card-subtitle>
   </div>

   <div class="container-settings-icon">
    <ion-icon name="settings-outline"></ion-icon>
  </div>
  </div>
  <ion-card-content>
    <div class="profile-overview">
      <div class="profile-stat">
        <p class="stat-value">18</p>
        <p class="stat-label">Following</p>
      </div>
      <div class="profile-stat">
        <p class="stat-value">43k</p>
        <p class="stat-label">Followers</p>
      </div>
      <div class="profile-stat">
        <p class="stat-value">84</p>
        <p class="stat-label">Post</p>
      </div>
    </div>

    <div class="ion-no-border d-flex align-items-center w-100 mt-3">
      <ion-button class="w-100" expand="block">Follow</ion-button>
      <ion-button fill="outline">Message</ion-button>
    </div>

    <div class="profile-description mt-4">
      <p class="subtitle-profile">About Me</p>
      <p>I have 18 years of investment experience behind me - I know the industry from the inside...</p>
    </div>

    <div class="profile-posts mt-4">
      <p class="subtitle-profile">My posts</p>
      <!-- <ion-button fill="solid" color="primary">Details</ion-button> -->

      <mat-tab-group class="mt-3" mat-stretch-tabs="false" mat-align-tabs="center">

        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon class="tab-icon" name="create-outline"></ion-icon>
          </ng-template>
          <app-post-list class="d-flex flex-column justify-content-center mt-4"></app-post-list>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon class="tab-icon" name="image-outline"></ion-icon>
          </ng-template>
          <div class="images mt-4">
            <div class="image" *ngFor="let image of userImages">
              <img [src]="image.image" />
            </div>
          </div>
        </mat-tab>

        <!-- <mat-tab label="Posts">
          <app-post-list class="d-flex flex-column justify-content-center mt-4"></app-post-list>
        </mat-tab> -->
        <!-- <mat-tab label="Images">
          <div class="images mt-4">
            <div class="image" *ngFor="let image of userImages">
              <img [src]="image.image" />
            </div>
          </div>
        </mat-tab> -->
      </mat-tab-group>

    </div>
  </ion-card-content>
</div>


<!-- <ion-header [translucent]="true">
  <ion-toolbar class="toolbar-profile">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   <div class="top-user-profile">
    <div class="cover"></div>
    <ion-avatar> -->
      <!-- <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> -->
      <!-- <img alt="user profile" [src]="userProfile.userImage" />
    </ion-avatar>
   </div>
  </ion-header>

  <div class="user-info">
    <div class="top d-flex align-items-center justify-content-between">
      <span class="username">{{userProfile.firstName}} {{userProfile.lastName}}</span>

     <div class="d-flex align-items-center">
      <ion-button *ngIf="!isUserFollowing" size="small" shape="round" color="success" (click)="followUser(userProfile.id)">
        Follow
        <ion-icon slot="end" class="add-user-icon" name="person-add-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="isUserFollowing" size="small" shape="round" color="danger" (click)="unfollowUser(userProfile.id)">
        Unfollow
        <ion-icon slot="end" class="add-user-icon" name="person-remove-outline"></ion-icon>
      </ion-button>

      <ion-button size="small" shape="round" color="medium">
        <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
     </div>

    </div>
    <div class="bottom d-flex align-items-center mt-4">
      <div class="d-flex flex-column text-align-center">
        <span class="number">{{userProfile.posts}}</span>
        <p>Posts</p>
      </div>

      <div class="d-flex flex-column text-align-center">
        <span class="number">{{userProfile.followers}}</span>
        <p>Followers</p>
      </div>

      <div class="d-flex flex-column text-align-center">
        <span class="number">{{userProfile.following}}</span>
        <p>Following</p>
      </div>
    </div>
  </div>

  <mat-tab-group class="mt-3" mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Posts">
      <app-post-list class="d-flex justify-content-center mt-4"></app-post-list>
    </mat-tab>
    <mat-tab label="Images">
      <div class="images mt-4">
        <div class="image" *ngFor="let image of userImages">
          <img [src]="image.image" />
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>
 -->
