<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Discover</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="userSearch" class="w-100">
    <ion-searchbar formControlName="value"></ion-searchbar>
  </form>

  <ion-list class="ion-margin-top" *ngIf="isPopularImages">
    <div class="d-flex flex-wrap">
        <div class="image-container" *ngFor="let popularimage of popularImages; let index"
             (click)="openImage(popularimage.id)" [style.background-image]="'url(' + popularimage.imageFilenames[0] + ')'">
        </div>
    </div>
</ion-list>


  <ion-list class="ion-margin-top" *ngIf="isUsersSearched">
    <div *ngIf="isLoaded">
      <ion-item *ngFor="let userSearched of usersSearched; let index" (click)="openUserProfile(userSearched.uuid)">
        <ion-avatar slot="start">
          <img [src]="userSearched.profileImage" alt="avatar" />
        </ion-avatar>
        <ion-label>
          <div class="flex align-items-start justify-items-start">
            <h3>{{ userSearched.firstName }} {{ userSearched.lastName }}</h3>
          </div>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="!isLoaded" class="container-spinner">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
