<!-------------Aici trebuie sa fie un slider cu story component----------------------------->
<!-- <div class="add-margin-story d-flex flex-column align-items-center">
  <div class="circle">
  </div>
  <div class="label">
    <p>Jake</p>
  </div>
</div> -->

<swiper-container [config]="swiperConfig" class="story-list">
  <swiper-wrapper>
    <swiper-slide *ngFor="let story of stories; let i = index">
      <div *ngIf="dataLoaded; else loadingSkeleton" class="story-item" (click)="openStory()">
        <div class="circle">
          <img [src]="story.image" alt="Story">
        </div>
        <div class="label">
          <p>{{ story.username }}</p>
        </div>
      </div>
      <ng-template #loadingSkeleton>
        <div class="story-item">
          <div class="circle skeleton-image"></div>
          <div class="label">
            <ion-skeleton-text animated></ion-skeleton-text>
          </div>
        </div>
      </ng-template>
    </swiper-slide>
  </swiper-wrapper>
</swiper-container>


