<!-- Main Comment -->
<ion-item class="mt-2">
  <ion-avatar slot="start">
    <img src="{{ comment.userDto.avatar }}" />
  </ion-avatar>
  <div class="d-flex flex-column align-items-start">
    <ion-label class="wrap-text">
      <h2>{{ comment.userDto.firstName }} {{ comment.userDto.lastName }}</h2>
      <p>
        {{ expandedStates[comment.id] ? comment.value : (comment.value.length > maxLength ? (comment.value | slice:0:maxLength) + '...' : comment.value) }}
        <span *ngIf="!expandedStates[comment.id] && comment.value.length > maxLength" (click)="toggleText(comment.id)" style="color: blue; cursor: pointer;">Show more</span>
      </p>
    </ion-label>

    <span class="mt-2 mb-2" *ngIf="comment.subComments.length > 0" (click)="toggleSubComments(comment.id)">
      {{ showSubComments[comment.id] ? 'Hide' : 'Show' }} {{ comment.subComments.length }} Replies
    </span>
  </div>
  <ion-button fill="clear" slot="end">
    <ion-icon name="heart" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button fill="clear" slot="end">
    <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
  </ion-button>
</ion-item>

<!-- Subcomments (displayed based on toggle state) -->
<ng-container *ngIf="showSubComments[comment.id]">
  <app-comment *ngFor="let subComment of comment.subComments" [comment]="subComment" class="sub-comment"></app-comment>
</ng-container>
