<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-flex align-items-center justify-content-center mt-5 mb-5">
    <img src="./assets/logo.png" alt="logo">
  </div>

  <form [formGroup]="userInfo" class="container-inputs mt-5 pb-4">

    <ion-input class="mb-3" formControlName="firstName" placeholder="First name" type="text"></ion-input>

    <ion-input class="mb-3" formControlName="lastName" placeholder="Last name" type="text"></ion-input>

   <div class="d-flex justify-content-between align-items-center mb-3">
    <p>Birthday</p>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime (ionChange)="onDateChange($event)" presentation="date" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
   </div>

   <ion-input class="mb-3" formControlName="email" placeholder="Email" type="email"></ion-input>
   <ion-input class="mb-3" formControlName="password" placeholder="Password" type="password"></ion-input>

   <ion-button expand="block" (click)="register()">Register</ion-button>

  </form>

  <div class="d-flex justify-content-center w-100 mt-4">
    <span class="term-message">By creating an account you are agree to our <br/><a>Term and conditions</a></span>
  </div>
</ion-content>
