/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



ion-tab-bar, ion-tab-button {
  background-color: #111111!important;

  ion-icon {
    color: #C5C5C5;
  }

  ion-label {
    color: #C5C5C5;
  }
}

.align-items-center {
  align-items: center;
}


.bottom-comment {
  position: fixed;
  bottom: 27%;
  left: 0;
  width: 100%;
  padding: 10px 15px;

  .container-input {
    display: flex; // Ensure this is flex to align items
    border: 1px solid rgb(190, 190, 190);
    border-radius: 20px; // Adjusted for aesthetics, previously 50%
    max-height: 150px; // Maximum height of the container
    overflow-y: auto; // Scrollbar for container if content exceeds max height

    ion-textarea {
      flex-grow: 1; // Allow textarea to grow and fill container
      outline: none !important;
      background: none;
      -webkit-appearance: none;
      box-shadow: none !important;
      border: none;
      max-height: 140px; // Slightly less than container to ensure fit
      overflow-y: auto; // Allow scrolling within the textarea itself
      margin-left: 1rem;
    }

    ion-button {
      font-size: 0.7rem;
    }
  }
}
